<p class="text-center bg-success">Search Cars</p>
<form class="form-horizontal" role="form" action="/search" method="post">
    <div class="form-group">
        <label class="col-sm-2 control-label">brand</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="brand" value="{{brand}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">color</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="color" value="{{color}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">price_range</label>
        <div class="col-sm-10">
            <select name="price_range" class="form-control">
                <option value=""></option>
                <option value="1" {{#if_eq price_range "1"}}selected{{/if_eq}}>
                    &lt; 1000</option>
                <option value="2" {{#if_eq price_range "2"}}selected{{/if_eq}}>
                    &gt;= 1000 &lt; 3000</option>
                <option value="3" {{#if_eq price_range "3"}}selected{{/if_eq}}>
                    &gt;= 3000 &lt; 5000</option>
                <option value="4" {{#if_eq price_range "4"}}selected{{/if_eq}}>
                    &lt;= 5000 &lt; 10000</option>
                <option value="5" {{#if_eq price_range "5"}}selected{{/if_eq}}>
                    &gt; 10000</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Search</button>
            <a href="/" class="btn btn-default">Back</a>
        </div>
    </div>
</form>
{{#if results}}
<table class="table table-striped">
    <thead>
        <tr>
            <td>date</td>
            <td>username</td>
            <td>brand</td>
            <td>color</td>
            <td>mileage</td>
            <td>model</td>
            <td>price</td>
            <td>year</td>
        </tr>
    </thead>
    <tbody>
        {{#each results}}
        <tr>
            <td>{{formatDate date}}</td>
            <td>{{username}}</td>
            <td>{{brand}}</td>
            <td>{{color}}</td>
            <td>{{mileage}}</td>
            <td>{{model}}</td>
            <td>{{price}}</td>
            <td>{{year}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="alert alert-success" role="success">
    There are no search results
</div>
{{/if}}